@page "/replay/chat"
@layout ReplayLayout
@inject ReplayService ReplayService
@inherits ReactiveComponentBase

<PageTitle>Chat messages</PageTitle>
<MudContainer Fixed="true">
    <MudText Typo="Typo.h2">Chat history</MudText>
    <MudTable T="ReplayChatMessage" Items="@ReplayService.ReplayState.ChatMessages" Hover="true" Breakpoint="Breakpoint.Sm"
        FixedHeader="true">
        <HeaderContent>
            <MudTh>Timestamp</MudTh>
            <MudTh>User</MudTh>
            <MudTh>Message</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Timestamp"><a href="/chat#@context.Timestamp">@context.Timestamp</a></MudTd>
            <MudTd DataLabel="User">@context.Sender</MudTd>
            <MudTd DataLabel="Message">
                <div id="@context.Timestamp"> @context.Message </div>
            </MudTd>
        </RowTemplate>
    </MudTable>
</MudContainer>
